TriviaRoyaleGame.Infrastructure/bin
TriviaRoyaleGame.Infrastructure/obj
TriviaRoyaleGame.Api/bin
TriviaRoyaleGame.Api/obj
TriviaRoyaleGame.Api/Log
TriviaRoyaleGame.Api/WebConfig
TriviaRoyaleGame.Api/SQLiteDatabase
TriviaRoyaleGame.Domain/bin
TriviaRoyaleGame.Domain/obj
TriviaRoyaleGame.UnitOfWork/bin
TriviaRoyaleGame.UnitOfWork/obj
TriviaRoyaleGame.Business/bin
TriviaRoyaleGame.Business/obj
TriviaRoyaleGame.Client.Infrastructure/bin
TriviaRoyaleGame.Client.Infrastructure/obj
TriviaRoyaleGame.Client.Domain/bin
TriviaRoyaleGame.Client.Domain/obj
TriviaRoyaleGame.Client.Business/bin
TriviaRoyaleGame.Client.Business/obj
TriviaRoyaleGame.Client/bin
TriviaRoyaleGame.Client/obj
TriviaRoyaleGame.Client/node_modules
.vscode
.vs
.sonarqube
